<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>public.kern1.KO_A</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Abreve</string>
		<string>uni01CD</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Amacron</string>
		<string>Aogonek</string>
		<string>Aring</string>
		<string>Atilde</string>
	</array>
	<key>public.kern1.KO_C</key>
	<array>
		<string>C</string>
		<string>Cacute</string>
		<string>Ccaron</string>
		<string>Ccedilla</string>
		<string>Ccircumflex</string>
		<string>Cdotaccent</string>
	</array>
	<key>public.kern1.KO_E</key>
	<array>
		<string>AE</string>
		<string>uni01E2</string>
		<string>E</string>
		<string>Eacute</string>
		<string>Ecaron</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Edotaccent</string>
		<string>Egrave</string>
		<string>Emacron</string>
		<string>Eogonek</string>
		<string>uni1EBC</string>
		<string>OE</string>
	</array>
	<key>public.kern1.KO_F</key>
	<array>
		<string>F</string>
	</array>
	<key>public.kern1.KO_H</key>
	<array>
		<string>H</string>
		<string>uni1E2A</string>
		<string>Hcircumflex</string>
		<string>uni1E24</string>
		<string>I</string>
		<string>IJ</string>
		<string>Iacute</string>
		<string>uni01CF</string>
		<string>Idotaccent</string>
		<string>Igrave</string>
		<string>Iogonek</string>
		<string>J</string>
		<string>uni004A0301</string>
		<string>M</string>
		<string>uni1E40</string>
		<string>uni1E42</string>
		<string>N</string>
		<string>Nacute</string>
		<string>Ncaron</string>
		<string>uni0145</string>
		<string>uni0145.loclMAH</string>
		<string>uni1E44</string>
		<string>uni1E46</string>
		<string>uni1E48</string>
		<string>Ntilde</string>
		<string>Q</string>
		<string>U</string>
		<string>Uacute</string>
		<string>Ubreve</string>
		<string>uni01D3</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>uni01D7</string>
		<string>uni01D9</string>
		<string>uni01DB</string>
		<string>uni01D5</string>
		<string>Ugrave</string>
		<string>Uhungarumlaut</string>
		<string>Umacron</string>
		<string>Uogonek</string>
		<string>Uring</string>
		<string>Utilde</string>
	</array>
	<key>public.kern1.KO_K</key>
	<array>
		<string>K</string>
		<string>uni01E8</string>
		<string>uni0136</string>
		<string>uni1E34</string>
	</array>
	<key>public.kern1.KO_L</key>
	<array>
		<string>L</string>
		<string>Lacute</string>
		<string>Lcaron</string>
		<string>uni013B</string>
		<string>uni013B.loclMAH</string>
		<string>uni1E36</string>
		<string>uni1E38</string>
		<string>Lslash</string>
	</array>
	<key>public.kern1.KO_O</key>
	<array>
		<string>D</string>
		<string>Dcaron</string>
		<string>Dcroat</string>
		<string>uni1E0C</string>
		<string>uni1E0E</string>
		<string>Eth</string>
		<string>uni018F</string>
		<string>G</string>
		<string>Gbreve</string>
		<string>Gcaron</string>
		<string>Gcircumflex</string>
		<string>uni0122</string>
		<string>Gdotaccent</string>
		<string>uni1E20</string>
		<string>O</string>
		<string>Oacute</string>
		<string>uni01D1</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Ohungarumlaut</string>
		<string>Omacron</string>
		<string>Oslash</string>
		<string>Otilde</string>
	</array>
	<key>public.kern1.KO_P</key>
	<array>
		<string>P</string>
	</array>
	<key>public.kern1.KO_R</key>
	<array>
		<string>R</string>
		<string>Racute</string>
		<string>Rcaron</string>
		<string>uni0156</string>
		<string>uni1E5C</string>
		<string>uni1E5E</string>
	</array>
	<key>public.kern1.KO_S</key>
	<array>
		<string>B</string>
		<string>S</string>
		<string>Sacute</string>
		<string>Scaron</string>
		<string>Scedilla</string>
		<string>Scircumflex</string>
		<string>uni0218</string>
		<string>uni1E62</string>
		<string>uni1E9E</string>
	</array>
	<key>public.kern1.KO_T</key>
	<array>
		<string>T</string>
		<string>Tcaron</string>
		<string>uni0162</string>
		<string>uni021A</string>
		<string>uni1E6C</string>
		<string>uni1E6E</string>
	</array>
	<key>public.kern1.KO_V</key>
	<array>
		<string>V</string>
	</array>
	<key>public.kern1.KO_W</key>
	<array>
		<string>W</string>
		<string>Wacute</string>
		<string>Wcircumflex</string>
		<string>Wdieresis</string>
		<string>Wgrave</string>
	</array>
	<key>public.kern1.KO_X</key>
	<array>
		<string>X</string>
	</array>
	<key>public.kern1.KO_Y</key>
	<array>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ycircumflex</string>
		<string>Ydieresis</string>
		<string>uni1E8E</string>
		<string>Ygrave</string>
		<string>uni0232</string>
		<string>uni1EF8</string>
	</array>
	<key>public.kern1.KO_Z</key>
	<array>
		<string>Z</string>
		<string>Zacute</string>
		<string>Zcaron</string>
		<string>Zdotaccent</string>
		<string>uni1E92</string>
		<string>uni1E94</string>
	</array>
	<key>public.kern1.KO_ampersand</key>
	<array>
		<string>ampersand</string>
	</array>
	<key>public.kern1.KO_asciicircum</key>
	<array>
		<string>asciicircum</string>
	</array>
	<key>public.kern1.KO_asterisk</key>
	<array>
		<string>semicolon</string>
		<string>asterisk</string>
	</array>
	<key>public.kern1.KO_at</key>
	<array>
		<string>at</string>
		<string>at.ss01</string>
		<string>copyright</string>
		<string>copyright.ss01</string>
		<string>registered</string>
		<string>registered.ss01</string>
	</array>
	<key>public.kern1.KO_at_d_p_a_d_zero_one_at</key>
	<array>
		<string>at_d_p_a_d_zero_zero_at</string>
		<string>at_d_p_a_d_zero_one_at</string>
		<string>at_d_p_a_d_zero_two_at</string>
		<string>at_d_p_a_d_zero_three_at</string>
		<string>at_d_p_a_d_zero_four_at</string>
		<string>at_p_o_w_e_r_zero_two_at</string>
	</array>
	<key>public.kern1.KO_at_f_a_c_e_zero_one_at</key>
	<array>
		<string>at_f_a_c_e_zero_zero_at</string>
		<string>at_f_a_c_e_zero_one_at</string>
		<string>at_f_a_c_e_zero_two_at</string>
		<string>at_l_o_g_o_zero_two_at</string>
	</array>
	<key>public.kern1.KO_at_k_e_y_zero_four_at</key>
	<array>
		<string>at_k_e_y_zero_four_at</string>
	</array>
	<key>public.kern1.KO_at_k_e_y_zero_one_at</key>
	<array>
		<string>at_k_e_y_zero_one_at</string>
	</array>
	<key>public.kern1.KO_at_k_e_y_zero_seven_at</key>
	<array>
		<string>at_k_e_y_zero_seven_at</string>
		<string>at_k_e_y_zero_eight_at</string>
		<string>at_l_o_g_o_zero_three_at</string>
	</array>
	<key>public.kern1.KO_at_k_e_y_zero_six_at</key>
	<array>
		<string>at_k_e_y_zero_five_at</string>
		<string>at_k_e_y_zero_six_at</string>
	</array>
	<key>public.kern1.KO_at_k_e_y_zero_three_at</key>
	<array>
		<string>at_k_e_y_zero_three_at</string>
	</array>
	<key>public.kern1.KO_at_k_e_y_zero_two_at</key>
	<array>
		<string>at_k_e_y_zero_zero_at</string>
		<string>at_k_e_y_zero_two_at</string>
	</array>
	<key>public.kern1.KO_at_l_o_g_o_zero_one_at</key>
	<array>
		<string>at_l_o_g_o_zero_one_at</string>
	</array>
	<key>public.kern1.KO_at_p_o_w_e_r_zero_one_at</key>
	<array>
		<string>at_p_o_w_e_r_zero_one_at</string>
	</array>
	<key>public.kern1.KO_bracketleft</key>
	<array>
		<string>bracketleft</string>
	</array>
	<key>public.kern1.KO_c</key>
	<array>
		<string>c</string>
		<string>cacute</string>
		<string>ccaron</string>
		<string>ccedilla</string>
		<string>ccircumflex</string>
		<string>cdotaccent</string>
		<string>germandbls</string>
	</array>
	<key>public.kern1.KO_colon</key>
	<array>
		<string>colon</string>
		<string>question</string>
	</array>
	<key>public.kern1.KO_degree</key>
	<array>
		<string>degree</string>
	</array>
	<key>public.kern1.KO_e</key>
	<array>
		<string>ae</string>
		<string>uni01E3</string>
		<string>b</string>
		<string>e</string>
		<string>eacute</string>
		<string>ecaron</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>edotaccent</string>
		<string>egrave</string>
		<string>emacron</string>
		<string>eogonek</string>
		<string>uni1EBD</string>
		<string>uni0259</string>
		<string>o</string>
		<string>oacute</string>
		<string>uni01D2</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>ograve</string>
		<string>ohungarumlaut</string>
		<string>omacron</string>
		<string>otilde</string>
		<string>oe</string>
		<string>p</string>
		<string>thorn</string>
	</array>
	<key>public.kern1.KO_endash</key>
	<array>
		<string>periodcentered</string>
		<string>bullet</string>
		<string>endash</string>
		<string>emdash</string>
		<string>uni2E3A</string>
	</array>
	<key>public.kern1.KO_equal</key>
	<array>
		<string>equal</string>
		<string>approxequal</string>
	</array>
	<key>public.kern1.KO_f</key>
	<array>
		<string>f</string>
	</array>
	<key>public.kern1.KO_fi</key>
	<array>
		<string>fi</string>
		<string>fl</string>
	</array>
	<key>public.kern1.KO_five</key>
	<array>
		<string>five</string>
	</array>
	<key>public.kern1.KO_five.osf</key>
	<array>
		<string>five.osf</string>
	</array>
	<key>public.kern1.KO_four</key>
	<array>
		<string>four</string>
	</array>
	<key>public.kern1.KO_four.osf</key>
	<array>
		<string>four.osf</string>
	</array>
	<key>public.kern1.KO_g</key>
	<array>
		<string>g</string>
		<string>gbreve</string>
		<string>gcaron</string>
		<string>gcircumflex</string>
		<string>uni0123</string>
		<string>gdotaccent</string>
		<string>uni1E21</string>
		<string>uni013C</string>
		<string>uni013C.loclMAH</string>
		<string>uni1E37</string>
		<string>q</string>
	</array>
	<key>public.kern1.KO_hyphen</key>
	<array>
		<string>hyphen</string>
	</array>
	<key>public.kern1.KO_i</key>
	<array>
		<string>d</string>
		<string>uni1E0D</string>
		<string>uni1E0F</string>
		<string>i</string>
		<string>dotlessi</string>
		<string>i.loclTRK</string>
		<string>igrave</string>
		<string>iogonek</string>
		<string>ij</string>
		<string>j</string>
		<string>l</string>
		<string>lacute</string>
		<string>u</string>
		<string>uacute</string>
		<string>ubreve</string>
		<string>uni01D4</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>uni01D8</string>
		<string>uni01DA</string>
		<string>uni01DC</string>
		<string>uni01D6</string>
		<string>ugrave</string>
		<string>uhungarumlaut</string>
		<string>umacron</string>
		<string>uogonek</string>
		<string>uring</string>
		<string>utilde</string>
	</array>
	<key>public.kern1.KO_jacute</key>
	<array>
		<string>Icircumflex</string>
		<string>Imacron</string>
		<string>Itilde</string>
		<string>dcroat</string>
		<string>iacute</string>
		<string>uni01D0</string>
		<string>icircumflex</string>
		<string>imacron</string>
		<string>itilde</string>
		<string>uni006A0301</string>
		<string>jcircumflex</string>
	</array>
	<key>public.kern1.KO_k</key>
	<array>
		<string>k</string>
		<string>uni01E9</string>
		<string>uni0137</string>
		<string>uni1E35</string>
	</array>
	<key>public.kern1.KO_less</key>
	<array>
		<string>greater</string>
		<string>less</string>
		<string>plusminus</string>
		<string>perthousand</string>
	</array>
	<key>public.kern1.KO_lslash</key>
	<array>
		<string>lslash</string>
	</array>
	<key>public.kern1.KO_n</key>
	<array>
		<string>a</string>
		<string>aacute</string>
		<string>abreve</string>
		<string>uni01CE</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>agrave</string>
		<string>amacron</string>
		<string>aogonek</string>
		<string>aring</string>
		<string>atilde</string>
		<string>eth</string>
		<string>h</string>
		<string>hbar</string>
		<string>uni1E2B</string>
		<string>hcircumflex</string>
		<string>uni1E25</string>
		<string>uni1E96</string>
		<string>m</string>
		<string>uni1E41</string>
		<string>uni1E43</string>
		<string>n</string>
		<string>nacute</string>
		<string>ncaron</string>
		<string>uni0146</string>
		<string>uni0146.loclMAH</string>
		<string>uni1E45</string>
		<string>uni1E47</string>
		<string>uni1E49</string>
		<string>ntilde</string>
	</array>
	<key>public.kern1.KO_numbersign</key>
	<array>
		<string>numbersign</string>
	</array>
	<key>public.kern1.KO_one</key>
	<array>
		<string>one</string>
	</array>
	<key>public.kern1.KO_parenleft</key>
	<array>
		<string>parenleft</string>
		<string>braceleft</string>
	</array>
	<key>public.kern1.KO_parenright</key>
	<array>
		<string>parenright</string>
	</array>
	<key>public.kern1.KO_percent</key>
	<array>
		<string>greaterequal</string>
		<string>percent</string>
	</array>
	<key>public.kern1.KO_period</key>
	<array>
		<string>period</string>
		<string>comma</string>
		<string>ellipsis</string>
		<string>backslash</string>
		<string>quotesinglbase</string>
		<string>quotedblbase</string>
	</array>
	<key>public.kern1.KO_plus</key>
	<array>
		<string>plus</string>
		<string>minus</string>
		<string>divide</string>
		<string>asciitilde</string>
	</array>
	<key>public.kern1.KO_questiondown</key>
	<array>
		<string>questiondown</string>
		<string>underscore</string>
	</array>
	<key>public.kern1.KO_quotedbl</key>
	<array>
		<string>quotedbl</string>
		<string>quotesingle</string>
	</array>
	<key>public.kern1.KO_quotedblleft</key>
	<array>
		<string>quotedblleft</string>
	</array>
	<key>public.kern1.KO_quotedblright</key>
	<array>
		<string>quotedblright</string>
	</array>
	<key>public.kern1.KO_quoteleft</key>
	<array>
		<string>quoteleft</string>
		<string>quoteright</string>
	</array>
	<key>public.kern1.KO_r</key>
	<array>
		<string>r</string>
		<string>racute</string>
		<string>rcaron</string>
		<string>uni0157</string>
		<string>uni1E5D</string>
		<string>uni1E5F</string>
		<string>v</string>
	</array>
	<key>public.kern1.KO_s</key>
	<array>
		<string>s</string>
		<string>sacute</string>
		<string>scaron</string>
		<string>scedilla</string>
		<string>scircumflex</string>
		<string>uni0219</string>
		<string>uni1E63</string>
	</array>
	<key>public.kern1.KO_seven</key>
	<array>
		<string>seven</string>
	</array>
	<key>public.kern1.KO_seven.osf</key>
	<array>
		<string>seven.osf</string>
	</array>
	<key>public.kern1.KO_six</key>
	<array>
		<string>zero</string>
		<string>three</string>
		<string>six</string>
		<string>eight</string>
		<string>nine</string>
		<string>one.osf</string>
	</array>
	<key>public.kern1.KO_slash</key>
	<array>
		<string>slash</string>
	</array>
	<key>public.kern1.KO_sterling</key>
	<array>
		<string>sterling</string>
	</array>
	<key>public.kern1.KO_t</key>
	<array>
		<string>t</string>
		<string>tcaron</string>
		<string>uni0163</string>
		<string>uni021B</string>
		<string>uni1E6D</string>
		<string>uni1E6F</string>
	</array>
	<key>public.kern1.KO_two</key>
	<array>
		<string>two</string>
	</array>
	<key>public.kern1.KO_two.osf</key>
	<array>
		<string>two.osf</string>
	</array>
	<key>public.kern1.KO_w</key>
	<array>
		<string>w</string>
		<string>wacute</string>
		<string>wcircumflex</string>
		<string>wdieresis</string>
		<string>wgrave</string>
	</array>
	<key>public.kern1.KO_x</key>
	<array>
		<string>x</string>
	</array>
	<key>public.kern1.KO_y</key>
	<array>
		<string>y</string>
		<string>yacute</string>
		<string>ycircumflex</string>
		<string>ydieresis</string>
		<string>uni1E8F</string>
		<string>ygrave</string>
		<string>uni0233</string>
		<string>uni1EF9</string>
	</array>
	<key>public.kern1.KO_z</key>
	<array>
		<string>z</string>
		<string>zacute</string>
		<string>zcaron</string>
		<string>zdotaccent</string>
		<string>uni1E93</string>
		<string>uni1E95</string>
	</array>
	<key>public.kern1.KO_zero.osf</key>
	<array>
		<string>zero.osf</string>
		<string>three.osf</string>
		<string>nine.osf</string>
	</array>
	<key>public.kern2.KO_A</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Abreve</string>
		<string>uni01CD</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Amacron</string>
		<string>Aogonek</string>
		<string>Aring</string>
		<string>Atilde</string>
		<string>AE</string>
		<string>uni01E2</string>
		<string>uni004A0301</string>
	</array>
	<key>public.kern2.KO_Eth</key>
	<array>
		<string>Dcroat</string>
		<string>Eth</string>
	</array>
	<key>public.kern2.KO_H</key>
	<array>
		<string>B</string>
		<string>D</string>
		<string>Dcaron</string>
		<string>uni1E0C</string>
		<string>uni1E0E</string>
		<string>E</string>
		<string>Eacute</string>
		<string>Ecaron</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Edotaccent</string>
		<string>Egrave</string>
		<string>Emacron</string>
		<string>Eogonek</string>
		<string>uni1EBC</string>
		<string>F</string>
		<string>H</string>
		<string>uni1E2A</string>
		<string>Hcircumflex</string>
		<string>uni1E24</string>
		<string>I</string>
		<string>IJ</string>
		<string>Iacute</string>
		<string>Idotaccent</string>
		<string>K</string>
		<string>uni01E8</string>
		<string>uni0136</string>
		<string>uni1E34</string>
		<string>L</string>
		<string>Lacute</string>
		<string>Lcaron</string>
		<string>uni013B</string>
		<string>uni013B.loclMAH</string>
		<string>uni1E36</string>
		<string>uni1E3A</string>
		<string>M</string>
		<string>uni1E40</string>
		<string>uni1E42</string>
		<string>N</string>
		<string>Nacute</string>
		<string>Ncaron</string>
		<string>uni0145</string>
		<string>uni0145.loclMAH</string>
		<string>uni1E44</string>
		<string>uni1E46</string>
		<string>uni1E48</string>
		<string>Ntilde</string>
		<string>Oslash</string>
		<string>P</string>
		<string>Thorn</string>
		<string>R</string>
		<string>Racute</string>
		<string>Rcaron</string>
		<string>uni0156</string>
		<string>uni1E5C</string>
		<string>uni1E5E</string>
		<string>U</string>
		<string>Uacute</string>
		<string>Ubreve</string>
		<string>uni01D3</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>uni01D7</string>
		<string>uni01D9</string>
		<string>uni01DB</string>
		<string>uni01D5</string>
		<string>Ugrave</string>
		<string>Uhungarumlaut</string>
		<string>Umacron</string>
		<string>Uogonek</string>
		<string>Uring</string>
		<string>Utilde</string>
		<string>uni1E3B</string>
	</array>
	<key>public.kern2.KO_J</key>
	<array>
		<string>J</string>
		<string>Jcircumflex</string>
	</array>
	<key>public.kern2.KO_Lslash</key>
	<array>
		<string>Lslash</string>
	</array>
	<key>public.kern2.KO_O</key>
	<array>
		<string>C</string>
		<string>Cacute</string>
		<string>Ccaron</string>
		<string>Ccedilla</string>
		<string>Ccircumflex</string>
		<string>Cdotaccent</string>
		<string>uni018F</string>
		<string>G</string>
		<string>Gbreve</string>
		<string>Gcaron</string>
		<string>Gcircumflex</string>
		<string>uni0122</string>
		<string>Gdotaccent</string>
		<string>uni1E20</string>
		<string>O</string>
		<string>Oacute</string>
		<string>uni01D1</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Ohungarumlaut</string>
		<string>Omacron</string>
		<string>Otilde</string>
		<string>OE</string>
		<string>Q</string>
	</array>
	<key>public.kern2.KO_S</key>
	<array>
		<string>S</string>
		<string>Sacute</string>
		<string>Scaron</string>
		<string>Scedilla</string>
		<string>Scircumflex</string>
		<string>uni0218</string>
		<string>uni1E62</string>
	</array>
	<key>public.kern2.KO_T</key>
	<array>
		<string>T</string>
		<string>Tcaron</string>
		<string>uni0162</string>
		<string>uni021A</string>
		<string>uni1E6C</string>
		<string>uni1E6E</string>
	</array>
	<key>public.kern2.KO_V</key>
	<array>
		<string>V</string>
	</array>
	<key>public.kern2.KO_W</key>
	<array>
		<string>W</string>
		<string>Wacute</string>
		<string>Wcircumflex</string>
		<string>Wdieresis</string>
		<string>Wgrave</string>
	</array>
	<key>public.kern2.KO_Y</key>
	<array>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ycircumflex</string>
		<string>Ydieresis</string>
		<string>uni1E8E</string>
		<string>Ygrave</string>
		<string>uni0232</string>
		<string>uni1EF8</string>
	</array>
	<key>public.kern2.KO_Z</key>
	<array>
		<string>X</string>
		<string>Z</string>
		<string>Zacute</string>
		<string>Zcaron</string>
		<string>Zdotaccent</string>
		<string>uni1E92</string>
		<string>uni1E94</string>
	</array>
	<key>public.kern2.KO_a</key>
	<array>
		<string>a</string>
		<string>aacute</string>
		<string>abreve</string>
		<string>uni01CE</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>agrave</string>
		<string>amacron</string>
		<string>aogonek</string>
		<string>aring</string>
		<string>atilde</string>
		<string>ae</string>
		<string>uni01E3</string>
		<string>s</string>
		<string>sacute</string>
		<string>scaron</string>
		<string>scedilla</string>
		<string>scircumflex</string>
		<string>uni0219</string>
		<string>uni1E63</string>
	</array>
	<key>public.kern2.KO_asciicircum</key>
	<array>
		<string>asciicircum</string>
	</array>
	<key>public.kern2.KO_at</key>
	<array>
		<string>at</string>
		<string>registered</string>
	</array>
	<key>public.kern2.KO_at_d_p_a_d_zero_one_at</key>
	<array>
		<string>at_d_p_a_d_zero_zero_at</string>
		<string>at_d_p_a_d_zero_one_at</string>
		<string>at_d_p_a_d_zero_two_at</string>
		<string>at_d_p_a_d_zero_three_at</string>
		<string>at_d_p_a_d_zero_four_at</string>
		<string>at_p_o_w_e_r_zero_two_at</string>
	</array>
	<key>public.kern2.KO_at_f_a_c_e_zero_one_at</key>
	<array>
		<string>at_f_a_c_e_zero_zero_at</string>
		<string>at_f_a_c_e_zero_one_at</string>
		<string>at_f_a_c_e_zero_two_at</string>
		<string>at_l_o_g_o_zero_two_at</string>
	</array>
	<key>public.kern2.KO_at_k_e_y_zero_four_at</key>
	<array>
		<string>at_k_e_y_zero_four_at</string>
	</array>
	<key>public.kern2.KO_at_k_e_y_zero_one_at</key>
	<array>
		<string>at_k_e_y_zero_zero_at</string>
		<string>at_k_e_y_zero_one_at</string>
	</array>
	<key>public.kern2.KO_at_k_e_y_zero_seven_at</key>
	<array>
		<string>at_k_e_y_zero_seven_at</string>
		<string>at_k_e_y_zero_eight_at</string>
		<string>at_l_o_g_o_zero_three_at</string>
	</array>
	<key>public.kern2.KO_at_k_e_y_zero_six_at</key>
	<array>
		<string>at_k_e_y_zero_five_at</string>
		<string>at_k_e_y_zero_six_at</string>
	</array>
	<key>public.kern2.KO_at_k_e_y_zero_three_at</key>
	<array>
		<string>at_k_e_y_zero_three_at</string>
	</array>
	<key>public.kern2.KO_at_k_e_y_zero_two_at</key>
	<array>
		<string>at_k_e_y_zero_two_at</string>
	</array>
	<key>public.kern2.KO_at_l_o_g_o_zero_one_at</key>
	<array>
		<string>at_l_o_g_o_zero_one_at</string>
	</array>
	<key>public.kern2.KO_backslash</key>
	<array>
		<string>backslash</string>
	</array>
	<key>public.kern2.KO_braceright</key>
	<array>
		<string>braceright</string>
	</array>
	<key>public.kern2.KO_bracketright</key>
	<array>
		<string>bracketright</string>
	</array>
	<key>public.kern2.KO_colon</key>
	<array>
		<string>colon</string>
	</array>
	<key>public.kern2.KO_degree</key>
	<array>
		<string>degree</string>
		<string>yen</string>
	</array>
	<key>public.kern2.KO_e</key>
	<array>
		<string>c</string>
		<string>cacute</string>
		<string>ccaron</string>
		<string>ccedilla</string>
		<string>ccircumflex</string>
		<string>cdotaccent</string>
		<string>d</string>
		<string>dcaron</string>
		<string>dcroat</string>
		<string>uni1E0D</string>
		<string>uni1E0F</string>
		<string>e</string>
		<string>eacute</string>
		<string>ecaron</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>edotaccent</string>
		<string>egrave</string>
		<string>emacron</string>
		<string>eogonek</string>
		<string>uni1EBD</string>
		<string>uni0259</string>
		<string>g</string>
		<string>gbreve</string>
		<string>gcaron</string>
		<string>gcircumflex</string>
		<string>uni0123</string>
		<string>gdotaccent</string>
		<string>uni1E21</string>
		<string>o</string>
		<string>oacute</string>
		<string>uni01D2</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>ograve</string>
		<string>ohungarumlaut</string>
		<string>omacron</string>
		<string>otilde</string>
		<string>oe</string>
		<string>q</string>
	</array>
	<key>public.kern2.KO_endash</key>
	<array>
		<string>periodcentered</string>
		<string>bullet</string>
		<string>asterisk</string>
		<string>endash</string>
		<string>emdash</string>
		<string>uni2E3A</string>
		<string>plus</string>
		<string>minus</string>
		<string>divide</string>
		<string>asciitilde</string>
	</array>
	<key>public.kern2.KO_equal</key>
	<array>
		<string>equal</string>
	</array>
	<key>public.kern2.KO_exclam</key>
	<array>
		<string>exclam</string>
	</array>
	<key>public.kern2.KO_four</key>
	<array>
		<string>four</string>
	</array>
	<key>public.kern2.KO_four.osf</key>
	<array>
		<string>four.osf</string>
	</array>
	<key>public.kern2.KO_greater</key>
	<array>
		<string>greater</string>
	</array>
	<key>public.kern2.KO_hyphen</key>
	<array>
		<string>hyphen</string>
	</array>
	<key>public.kern2.KO_i</key>
	<array>
		<string>i</string>
		<string>iacute</string>
		<string>i.loclTRK</string>
		<string>iogonek</string>
		<string>ij</string>
		<string>j</string>
		<string>rcaron</string>
		<string>germandbls</string>
	</array>
	<key>public.kern2.KO_l</key>
	<array>
		<string>b</string>
		<string>h</string>
		<string>uni1E2B</string>
		<string>uni1E25</string>
		<string>uni1E96</string>
		<string>k</string>
		<string>uni0137</string>
		<string>uni1E35</string>
		<string>l</string>
		<string>lacute</string>
		<string>lcaron</string>
		<string>uni013C</string>
		<string>uni013C.loclMAH</string>
		<string>uni1E37</string>
		<string>thorn</string>
	</array>
	<key>public.kern2.KO_lslash</key>
	<array>
		<string>lslash</string>
	</array>
	<key>public.kern2.KO_n</key>
	<array>
		<string>dotlessi</string>
		<string>m</string>
		<string>uni1E41</string>
		<string>uni1E43</string>
		<string>n</string>
		<string>nacute</string>
		<string>ncaron</string>
		<string>uni0146</string>
		<string>uni0146.loclMAH</string>
		<string>uni1E45</string>
		<string>uni1E47</string>
		<string>uni1E49</string>
		<string>ntilde</string>
		<string>p</string>
		<string>r</string>
		<string>racute</string>
		<string>uni0157</string>
		<string>uni1E5D</string>
	</array>
	<key>public.kern2.KO_nine</key>
	<array>
		<string>nine</string>
	</array>
	<key>public.kern2.KO_one</key>
	<array>
		<string>one</string>
	</array>
	<key>public.kern2.KO_one.osf</key>
	<array>
		<string>one.osf</string>
		<string>three.osf</string>
	</array>
	<key>public.kern2.KO_parenleft</key>
	<array>
		<string>parenleft</string>
	</array>
	<key>public.kern2.KO_parenright</key>
	<array>
		<string>parenright</string>
	</array>
	<key>public.kern2.KO_percent</key>
	<array>
		<string>percent</string>
	</array>
	<key>public.kern2.KO_period</key>
	<array>
		<string>period</string>
		<string>comma</string>
		<string>ellipsis</string>
	</array>
	<key>public.kern2.KO_question</key>
	<array>
		<string>question</string>
	</array>
	<key>public.kern2.KO_quotedbl</key>
	<array>
		<string>quotedbl</string>
		<string>quotesingle</string>
	</array>
	<key>public.kern2.KO_quotedblright</key>
	<array>
		<string>quotedblleft</string>
		<string>quotedblright</string>
	</array>
	<key>public.kern2.KO_quoteright</key>
	<array>
		<string>quoteleft</string>
		<string>quoteright</string>
	</array>
	<key>public.kern2.KO_semicolon</key>
	<array>
		<string>semicolon</string>
	</array>
	<key>public.kern2.KO_seven</key>
	<array>
		<string>seven</string>
	</array>
	<key>public.kern2.KO_seven.osf</key>
	<array>
		<string>seven.osf</string>
	</array>
	<key>public.kern2.KO_six</key>
	<array>
		<string>zero</string>
		<string>five</string>
		<string>six</string>
		<string>eight</string>
	</array>
	<key>public.kern2.KO_slash</key>
	<array>
		<string>slash</string>
	</array>
	<key>public.kern2.KO_t</key>
	<array>
		<string>f</string>
		<string>t</string>
		<string>tcaron</string>
		<string>uni0163</string>
		<string>uni021B</string>
		<string>uni1E6D</string>
		<string>uni1E6F</string>
		<string>fi</string>
		<string>fl</string>
	</array>
	<key>public.kern2.KO_trademark</key>
	<array>
		<string>trademark</string>
	</array>
	<key>public.kern2.KO_two</key>
	<array>
		<string>two</string>
		<string>three</string>
	</array>
	<key>public.kern2.KO_two.osf</key>
	<array>
		<string>two.osf</string>
	</array>
	<key>public.kern2.KO_u</key>
	<array>
		<string>u</string>
		<string>uacute</string>
		<string>ubreve</string>
		<string>uni01D4</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>uni01D8</string>
		<string>uni01DC</string>
		<string>uni01D6</string>
		<string>ugrave</string>
		<string>uhungarumlaut</string>
		<string>umacron</string>
		<string>uogonek</string>
		<string>uring</string>
		<string>utilde</string>
	</array>
	<key>public.kern2.KO_underscore</key>
	<array>
		<string>underscore</string>
	</array>
	<key>public.kern2.KO_w</key>
	<array>
		<string>w</string>
		<string>wacute</string>
		<string>wcircumflex</string>
		<string>wdieresis</string>
		<string>wgrave</string>
	</array>
	<key>public.kern2.KO_x</key>
	<array>
		<string>x</string>
	</array>
	<key>public.kern2.KO_y</key>
	<array>
		<string>v</string>
		<string>y</string>
		<string>yacute</string>
		<string>ycircumflex</string>
		<string>ydieresis</string>
		<string>uni1E8F</string>
		<string>ygrave</string>
		<string>uni0233</string>
		<string>uni1EF9</string>
		<string>at_p_o_w_e_r_zero_one_at</string>
	</array>
	<key>public.kern2.KO_z</key>
	<array>
		<string>z</string>
		<string>zacute</string>
		<string>zcaron</string>
		<string>zdotaccent</string>
		<string>uni1E93</string>
		<string>uni1E95</string>
	</array>
	<key>public.kern2.KO_zero.osf</key>
	<array>
		<string>zero.osf</string>
		<string>five.osf</string>
		<string>nine.osf</string>
	</array>
</dict>
</plist>
